Repository almostsultry/dom-style-injector-extension-admin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @admin-tools-team, @frontend-team, @ux-team, @security-team, @integration-team, @devops-team, @technical-writing-team, @qa-team, @product-team

refactor: clean up .gitignore by removing unnecessary test files and comments
  .gitignore
Owners: @platform-team, @admin-tools-team

Delete .DS_Store
  .DS_Store
Owners: @platform-team, @admin-tools-team

Delete .github/.DS_Store
  .github/.DS_Store
Owners: @devops-team, @platform-team

Delete src/.DS_Store
  src/.DS_Store
Owners: @platform-team, @admin-tools-team

Delete tests/.DS_Store
  tests/.DS_Store
Owners: @qa-team, @platform-team

Delete src/icons/.DS_Store
  src/icons/.DS_Store
Owners: @platform-team, @admin-tools-team

Add end-to-end tests for user version workflow using Playwright
  tests/e2e/user-workflow-test.js
Owners: @qa-team, @platform-team

Add initial development files, including changelog, license, user version scripts, and popup interface
  # Changelog.md
  LICENSE
  tests/e2e/user-workflow-test.js
  user-version/content.js
  user-version/popup.html
  user-version/popup.js
Owners: @platform-team, @admin-tools-team, @qa-team, @security-team, @product-team

Add configuration files for Chrome and Edge stores, implement manifest generation and version bump scripts, and establish security policies and permissions audit documentation.
  config/store-configs/chrome-store.json
  config/store-configs/edge-store.json
  docs/admin/permissions.md
  docs/admin/sharepoint-setup.md
  docs/admin/usage.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/development/testing.md
  docs/user/installation.md
  docs/user/usage.md
  scripts/generate-manifest.js
  scripts/version-bump.js
  security/content-security-policy.json
  security/permissions-audit.md
  security/vulnerability-scan-config.yml
Owners: @devops-team, @security-team, @technical-writing-team, @platform-team

Update documentation files for D365 DOM Style Injector extension
  docs/admin/permissions.md
  docs/admin/sharepoint-setup.md
  docs/admin/usage.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/development/testing.md
  docs/user/installation.md
  docs/user/usage.md
Owners: @technical-writing-team, @platform-team

Add documentation files for Deployment
  docs/deployment/ci-cd-setup.md
  docs/deployment/environment-config.md
  docs/deployment/store-submission.md
Owners: @technical-writing-team, @platform-team

Update package.json for version bump and improve test setup with ESLint configuration
  eslint.config.js
  package.json
  tests/__mocks__/styleMock.js
  tests/setup.js
Owners: @platform-team, @admin-tools-team, @devops-team, @qa-team

Bump version to 1.0.1 in package.json and manifest.json
  package.json
  src/manifest.json
Owners: @devops-team, @platform-team, @security-team

Refactor user version styles and functionality
  src/popup.html
  src/styles/admin-theme.css
  src/styles/common.css
  src/styles/popup.css
  src/styles/user-theme.css
  user-version/background.js
  user-version/manifest.json
  user-version/popup.html
Owners: @frontend-team, @ux-team, @platform-team, @security-team, @product-team

added build files
  build/build-admin.js
  build/build-user.js
  build/release.js
Owners: @devops-team, @platform-team

Add comprehensive migration guides for CSS architecture and development setup
  README.md
  docs/development/css-migration-guide.md
  docs/development/dev-setup-guide.md
  docs/development/package-json-guide.md
Owners: @technical-writing-team, @platform-team

Refactor: Unify build process and project structure
  build/webpack.config.js
  package.json
  src/assets/icon128.png
  src/assets/icon16.png
  src/assets/icon48.png
  src/manifest.json
  src/popup.html
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
  src/popup/popup.js.old.js
  src/scripts/popup.js
  src/scripts/service-worker.js
Owners: @devops-team, @frontend-team, @platform-team, @admin-tools-team, @security-team, @ux-team

Refactor: Unify build process and project structure (#1)
  build/webpack.config.js
  package.json
  src/assets/icon128.png
  src/assets/icon16.png
  src/assets/icon48.png
  src/manifest.json
  src/popup.html
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
  src/popup/popup.js.old.js
  src/scripts/popup.js
  src/scripts/service-worker.js
Owners: @devops-team, @frontend-team, @platform-team, @admin-tools-team, @security-team, @ux-team

Chore: Remove obsolete files from previous build system
  build/build-admin.js
  build/build-user.js
  user-version/background.js
  user-version/content.js
  user-version/manifest.json
  user-version/popup.html
  user-version/popup.js
Owners: @devops-team, @platform-team, @security-team, @product-team

Chore: Remove obsolete files from previous build system (#2)
  build/build-admin.js
  build/build-user.js
  user-version/background.js
  user-version/content.js
  user-version/manifest.json
  user-version/popup.html
  user-version/popup.js
Owners: @devops-team, @platform-team, @security-team, @product-team

Refactor popup.js and service-worker.js for improved authentication and role management
  # Changelog.md
  Changelog.md
  README
  README.md
  docs/development/contributing.md
  docs/migration-to-unified.md
  src/manifest.json
  src/options/options.css
  src/options/options.html
  src/options/options.js
  src/popup/popup.js
  src/scripts/content.js
  src/scripts/popup.js
  src/scripts/service-worker.js
Owners: @platform-team, @admin-tools-team, @technical-writing-team, @security-team, @frontend-team, @ux-team, @devops-team

Refactor popup.js to improve error handling and ensure compatibility with required browser APIs
  src/popup/popup.js
Owners: @platform-team, @admin-tools-team

Implement code changes to enhance functionality and improve performance
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team

Bump version to 2.0.3 and update manifest description and permissions
  package.json
  src/manifest.json
Owners: @devops-team, @platform-team, @security-team

Fix icon paths in manifest.json for consistency
  src/manifest.json
Owners: @security-team, @platform-team

Add content.js entry point and fix asset paths in webpack configuration
  build/webpack.config.js
Owners: @devops-team, @frontend-team

Fix content script path and update icon paths for consistency in manifest.json
  src/manifest.json
Owners: @security-team, @platform-team

Refactor content script for improved structure and functionality; disable console warnings in ESLint configuration
  eslint.config.js
  src/scripts/content.js
Owners: @platform-team, @admin-tools-team, @devops-team

Fix content script path in manifest.json to ensure correct loading of scripts
  src/manifest.json
Owners: @security-team, @platform-team

Refactor background service worker for DOM Style Injector extension
  src/background.js
  src/manifest.json
Owners: @security-team, @platform-team

Bump version to 2.0.6 in package.json and manifest.json
  package.json
  src/manifest.json
Owners: @devops-team, @platform-team, @security-team

Update version to 2.0.7 and fix file paths in webpack configuration and manifest
  build/webpack.config.js
  package.json
  src/manifest.json
Owners: @devops-team, @frontend-team, @platform-team, @security-team

Update version to 2.0.8 and enhance authentication with MSAL integration; refactor manifest and popup scripts for improved functionality
  package.json
  src/auth/auth-service.js
  src/auth/msal-config.js
  src/manifest.json
  src/popup/popup.js
Owners: @devops-team, @platform-team, @security-team, @integration-team, @admin-tools-team

Refactor webpack and manifest configurations for correct file paths; enhance popup error view with settings navigation and retry functionality
  build/webpack.config.js
  src/manifest.json
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
Owners: @devops-team, @frontend-team, @security-team, @platform-team, @ux-team, @admin-tools-team

Add CLAUDE.md for project overview and development guidelines; create pseudo-classes.css for styling pseudo-class functionality
  CLAUDE.md
  src/popup/popup.html
  src/scripts/content.js
  src/styles/pseudo-classes.css
Owners: @platform-team, @admin-tools-team, @frontend-team, @ux-team, @devops-team

Enhance popup.js with pseudo-class support and improved customization management
  src/popup/popup.js
Owners: @platform-team, @admin-tools-team

Add enterprise sync capabilities and fix integration issues
  build/webpack.config.js
  src/background.js
  src/popup/popup.html
  src/popup/popup.js
Owners: @devops-team, @frontend-team, @security-team, @platform-team, @ux-team, @admin-tools-team

Remove service worker script to streamline extension functionality and eliminate ESLint issues.
  CLAUDE.md
  build/webpack.config.js
  src/manifest.json
  src/scripts/background.js
  src/scripts/service-worker.js
Owners: @platform-team, @admin-tools-team, @devops-team, @frontend-team, @security-team

Add conflict resolution settings and enhance options interface
  src/options/options.html
  src/options/options.js
  src/scripts/background.js
  src/scripts/dataverse-conflict-resolver.js
  src/styles/options.css
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

Implement preview functionality, RBAC, and enhance settings page
  IMPLEMENTATION_PLAN.md
  src/options/options.html
  src/options/options.js
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/background.js
  src/scripts/content.js
  src/scripts/permissions.js
  src/styles/common.css
  src/styles/options.css
Owners: @platform-team, @admin-tools-team, @frontend-team, @ux-team, @devops-team

.github/CODEOWNERS:

# Global owners

* @platform-team @admin-tools-team

# Frontend/UI components

src/popup.* @frontend-team @ux-team
src/styles/ @frontend-team @ux-team
*.html @frontend-team @ux-team
*.css @frontend-team @ux-team

# Authentication and security

src/auth/ @security-team @platform-team
src/background.js @security-team @platform-team
manifest*.json @security-team @platform-team

# Microsoft Graph integration

src/sync/ @integration-team @platform-team
src/auth/msal-config.js @integration-team @security-team

# Build and CI/CD

.github/ @devops-team @platform-team
build/ @devops-team @platform-team
scripts/ @devops-team @platform-team
webpack.config.js @devops-team @frontend-team
package.json @devops-team @platform-team

# Documentation

docs/ @technical-writing-team @platform-team
README.md @technical-writing-team @platform-team
CHANGELOG.md @platform-team

# Testing

tests/ @qa-team @platform-team
*.test.js @qa-team @platform-team

# Configuration and environments

config/ @devops-team @security-team
security/ @security-team

# User version (requires additional approval)

user-version/ @platform-team @security-team @product-team
