Repository almostsultry/dom-style-injector-extension-admin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @admin-tools-team, @frontend-team, @ux-team, @security-team, @integration-team, @devops-team, @technical-writing-team, @qa-team, @product-team

.github/CODEOWNERS:

# Global owners

* @platform-team @admin-tools-team

# Frontend/UI components

src/popup.* @frontend-team @ux-team
src/styles/ @frontend-team @ux-team
*.html @frontend-team @ux-team
*.css @frontend-team @ux-team

# Authentication and security

src/auth/ @security-team @platform-team
src/background.js @security-team @platform-team
manifest*.json @security-team @platform-team

# Microsoft Graph integration

src/sync/ @integration-team @platform-team
src/auth/msal-config.js @integration-team @security-team

# Build and CI/CD

.github/ @devops-team @platform-team
build/ @devops-team @platform-team
scripts/ @devops-team @platform-team
webpack.config.js @devops-team @frontend-team
package.json @devops-team @platform-team

# Documentation

docs/ @technical-writing-team @platform-team
README.md @technical-writing-team @platform-team
CHANGELOG.md @platform-team

# Testing

tests/ @qa-team @platform-team
*.test.js @qa-team @platform-team

# Configuration and environments

config/ @devops-team @security-team
security/ @security-team

# User version (requires additional approval)

user-version/ @platform-team @security-team @product-team

Implement KMSI and Microsoft 365 license validation
  src/license-required.html
  src/manifest.json
  src/popup/popup.js
  src/scripts/background.js
  src/scripts/kmsi-handler.js
  src/scripts/license-required.js
  src/scripts/license-validator.js
Owners: @frontend-team, @ux-team, @security-team, @platform-team, @admin-tools-team, @devops-team

Add secure backend infrastructure and development mode
  ARCHITECTURE.md
  DEVELOPMENT.md
  IMPLEMENTATION_PLAN.md
  SECURITY.md
  backend-template/.dockerignore
  backend-template/.env.development
  backend-template/.env.example
  backend-template/Dockerfile
  backend-template/Makefile
  backend-template/QUICKSTART.md
  backend-template/README.md
  backend-template/docker-compose.dev.yml
  backend-template/docker-compose.prod.yml
  backend-template/docker-compose.yml
  backend-template/init.sql
  backend-template/nginx.conf
  backend-template/package.json
  backend-template/scripts/setup.sh
  backend-template/server.js
  src/config/api-config.js
  src/config/development.js
  src/options/options.html
  src/popup/popup.html
  src/scripts/background.js
  src/scripts/dev-mode-indicator.js
  src/scripts/secure-backend-client.js
Owners: @platform-team, @admin-tools-team, @technical-writing-team, @devops-team, @security-team, @frontend-team, @ux-team

Implement export/import and search/filter functionality; enhance user experience
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/export-import.js
  src/scripts/search-filter.js
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

Implement screenshot capture and eyedropper functionality using native browser APIs
  src/manifest.json
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/eyedropper-manager.js
  src/scripts/screenshot-manager.js
Owners: @security-team, @platform-team, @frontend-team, @ux-team, @admin-tools-team, @devops-team

Relocate popup.css to styles directory for consistent file organization
  build/webpack.config.js
  src/popup/popup.css
  src/popup/popup.html
  src/styles/popup.css
Owners: @devops-team, @frontend-team, @ux-team

Implement custom branding settings for enterprise customization
  src/options/options.html
  src/options/options.js
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/branding-manager.js
  src/styles/options.css
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

Disable automatic CI/CD workflows until implementation complete
  .github/workflows/cd-chrome-store.yml
  .github/workflows/cd-edge-store.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @platform-team

Implement AI integration with multi-provider support
  src/options/options.html
  src/options/options.js
  src/popup/popup.html
  src/popup/popup.js
  src/popup/popup.js.old.js
  src/scripts/ai-integration-manager.js
  src/styles/options.css
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

Implement Visio online integration for documentation diagramming
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/visio-integration-manager.js
  src/styles/popup.css
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

The ASCII directory structure has been created in DIRECTORY-STRUCTURE.md. This comprehensive file includes:
  DIRECTORY-STRUCTURE.md
  directory-structure.txt
Owners: @platform-team, @admin-tools-team

Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @devops-team, @platform-team

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @devops-team, @platform-team

Add Claude Code GitHub Workflow (#3)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @devops-team, @platform-team

Implement documentation generation with AI and diagram support
  src/popup/popup.html
  src/popup/popup.js
  src/scripts/documentation-generator.js
  src/styles/popup.css
Owners: @frontend-team, @ux-team, @platform-team, @admin-tools-team, @devops-team

Add Power Platform managed solution for Dataverse deployment
  power-platform-solution/README.md
  power-platform-solution/scripts/build-solution.ps1
  power-platform-solution/scripts/deploy-solution.ps1
  power-platform-solution/solution.xml
  power-platform-solution/src/Entities/cr123_domstylecustomizations/Entity.xml
  power-platform-solution/src/SecurityRoles/cr123_domstyleadmin.xml
  power-platform-solution/src/SecurityRoles/cr123_domstyleuser.xml
Owners: @technical-writing-team, @platform-team, @devops-team, @admin-tools-team

Update 18 files (imports: BrandingManager, AIIntegrationManager)
  .claude/hooks/claude-code-git-hook.py
  .claude/hooks/claude-code-git-hookv2.py
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/test.yml
  babel.config.js
  eslint.config.js
  jest.config.js
  package.json
  src/auth/auth-service.js
  src/options/options.js
  src/popup/popup.js
  src/scripts/ai-integration-manager.js
  src/scripts/background.js
  src/sync/sync-manager.js
  tests/__mocks__/styleMock.js
  tests/setup.js
  tests/unit/content.test.js
  tests/utils/test-utils.js
Owners: @platform-team, @admin-tools-team, @devops-team, @security-team, @integration-team, @qa-team

Update scheduleRetryForMissingElements function (modified: scheduleRetryForMissingElements; imports: ScreenshotManager, EyedropperManager, BrandingManager)
  eslint.config.js
  package.json
  src/options/options.js
  src/popup/popup.js
  src/scripts/ai-integration-manager.js
  src/scripts/background.js
  src/scripts/content.js
  src/scripts/dataverse-conflict-resolver.js
Owners: @platform-team, @admin-tools-team, @devops-team

Update 16 files (imports: AIIntegrationManager, VisioIntegrationManager)
  .eslintignore
  eslint.config.js
  src/popup/popup.js
  src/scripts/documentation-generator.js
  src/scripts/export-import.js
  src/scripts/eyedropper-manager.js
  src/scripts/license-validator.js
  src/scripts/screenshot-manager.js
  src/scripts/search-filter.js
  src/sync/sync-manager.js
  tests/e2e/user-workflow-test.js
  tests/integration/auth.test.js
  tests/integration/sharepoint.test.js
  tests/unit/content.test.js
  tests/unit/popup.test.js
  tests/unit/sync.test.js
Owners: @platform-team, @admin-tools-team, @devops-team, @integration-team, @qa-team

Update 7 files (imports: puppeteer)
  jest.config.js
  src/sync/sharepoint-service.js
  tests/e2e/admin-workflow.test.js
  tests/e2e/user-workflow-test.js
  tests/setup.js
  tests/unit/popup.test.js
  tests/utils/test-utils.js
Owners: @platform-team, @admin-tools-team, @integration-team, @qa-team

Update 7 files
  src/sync/sharepoint-service.js
  tests/integration/auth.test.js
  tests/integration/sharepoint.test.js
  tests/unit/content.test.js
  tests/unit/popup.test.js
  tests/unit/sync.test.js
  tests/utils/test-utils.js
Owners: @integration-team, @platform-team, @qa-team

Add Claude Code Git Commit Hook with Context Analysis
  claude-code-git-hookv3.py
Owners: @platform-team, @admin-tools-team

Update checkDynamicContentLoaded function (modified: checkDynamicContentLoaded)
  src/sync/sharepoint-service.js
  tests/integration/auth.test.js
  tests/integration/sharepoint.test.js
  tests/unit/content.test.js
  tests/unit/sync.test.js
Owners: @integration-team, @platform-team, @qa-team

Update 5 files
  tests/integration/auth.test.js
  tests/integration/sharepoint.test.js
  tests/unit/content.test.js
  tests/unit/sync.test.js
  tests/utils/test-utils.js
Owners: @qa-team, @platform-team

Update tests/integration/auth.test.js
  tests/integration/auth.test.js
Owners: @qa-team, @platform-team

Add Claude Code Git Hook for Automated Commit Message Generation
  .claude/hooks/claude-code-git-hookv3.py
  claude-code-git-hookv3.py
Owners: @platform-team, @admin-tools-team

Remove outdated Claude Code Git hooks for commit message generation
  .claude/hooks/claude-code-git-hook.py
  .claude/hooks/claude-code-git-hookv2.py
Owners: @platform-team, @admin-tools-team
